body {
  margin: 0;
  background-color: #1e1e1e;
  font-family: 'Inter', Arial, Helvetica, sans-serif;
  font-weight: 400;
  font-size: 16px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

h1, h2, h3, p, ul {
  margin: 0;
  padding: 0;
}

.content-section {
  width: 360px;
  box-sizing: border-box;
}

.content-section_theme_dark {
  background-color: #131313;
  color: #f5f5f5;
}

.content-section_theme_bright {
  background-color: #FEE42A;
  color: #131313;
}

.content-section__subtitle {
  font-family: 'EB Garamond';
  font-weight: 500;
  font-size: 28px;
  line-height: 115%;
  margin-bottom: 32px;
}

.content-section__introduction {
  font-size: 20px;
  line-height: 27px;
  margin-bottom: 32px;
}

.content-section__list {
  display: flex;
  flex-direction: column;
  row-gap: 16px;
}

.content-section__list-item {
  margin-left: 16px;
  line-height: 22px;
}

.content-section__list-accent {
  font-weight: 700;
}

.accent-span {
  display: block;
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: 24px 20px;
}

.header__logo {
  width: 79px;
  height: 16px;
}

.header__logo-image {
  object-fit: cover;
  object-position: top;
}

.header__menu {
  width: 75px;
  height: 84px;
}

.header__menu-list {
  height: 100%;
  line-height: 19px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.header__menu-item {
  list-style-type: none;
  text-decoration: underline;
}

.header__menu-item_active {
  text-decoration: none;
}

.header__menu-link {
  text-decoration: none;
  color: #f5f5f5;
}

.cover {
  background-image: url(../images/cover.svg);
  background-position: left 20px bottom 0px;
  background-repeat: no-repeat;
  background-size: 95% auto;
  padding: 0 20px;
}

.cover__title {
  font-family: 'EB Garamond';
  font-weight: 400;
  font-size: 72px;
  line-height: 100%;
  color: #fff;
}

.intro {
  padding: 30px 20px 38px;
}

.intro__heading {
  margin-bottom: 24px;
  display: flex;
  justify-content: space-between;
}

.intro__title {
  font-size: 16px;
  line-height: 120%;
  color: #ccc;
}

.intro__date {
  line-height: 120%;
  color: #ccc;
  white-space: nowrap;
}

.intro__main-text {
  display: flex;
  flex-direction: column;
  row-gap: 24px;
}

.intro__text {
  line-height: 22px;
}

.reasons {
  padding: 40px 20px;
}

.how-to {
  padding: 40px 20px 60px;
}

.cards-list {
  display: flex;
  flex-direction: column;
  row-gap: 32px;
}

.cards-item {
  list-style-type: none;
}

.card {
  border-radius: 30px;
  padding: 20px;
}

.card_theme_dark {
  background-color: #343434;
}

.card_theme_bright {
  background-color: #FEE42A;
  color: #131313;
}

.card__author {
  display: flex;
  flex-direction: column;
  row-gap: 8px;
}

.card__author-photo {
  width: 100px;
  height: 100px;
  border-radius: 50%;
}

.card__author-name {
  font-weight: 700;
  line-height: 135%;
}

.card__content {
  width: 100%;
  margin-top: 8px;
}

.card_text-only {
  margin-top: 0;
}

.card__title {
  font-family: 'EB Garamond';
  font-weight: 500;
  font-size: 22px;
  line-height: 135%;
}

.card__text {
  line-height: 22px;
  margin-top: 8px;
}

.footer {
  border-top: 1px solid #FEE42A;
  padding: 20px;
  display: flex;
  justify-content: space-between;
}

.footer__copy {
  line-height: 135%;
}

.footer__links {
  width: 73px;
  display: flex;
  justify-content: space-between;
}

.footer__link {
  text-decoration: none;
  color: #f5f5f5;
  line-height: 125%;
}